bench/
build/
cache/
nbproject/
public/
site/
vendor/
tmp/

.idea/
.fleet/
.vscode/
.settings/
.project/
.buildpath/
.directory/

.DS_Store
Thumbs.db
Desktop.ini
ehthumbs.db
composer.lock
*.lnk
*~
._*
*.phar
*.cache
auth.*
.env
