<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/9.5/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         verbose="true"
         colors="true">
    <coverage processUncoveredFiles="true">
        <include>
            <directory>src</directory>
        </include>
        <exclude>
            <directory>src/locale</directory>
        </exclude>
    </coverage>
    <testsuites>
        <testsuite name="Koded RMR Framework - Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <php>
        <ini name="date.timezone" value="UTC" />
    </php>
</phpunit>